.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  box-sizing: border-box;
  width: 1100px;
  min-height: 105px; /*высота не стоит ограничивать*/
  margin-top: 92px;
  padding-right: 50px;
  padding-left: 50px;
}

.header__menu {
  margin-top: 44px;
}

.header__links-list {
  position: relative; /*не может быть абсолютной*/
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list-item {
  margin-right: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__address {
  justify-self: end;
  margin-top: 5px;
}

.address {
  width: 240.52px;
  min-height: 98px; /*не стоит ограничивать высоту*/
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__logo {
  width: 136px;
  height: 108px;
  margin: auto;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px; /*не стоит ограничивать высоту*/
  margin-top: 96px;
  padding-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  text-transform: uppercase;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text {
  display: block;
  letter-spacing: 3px;
}

.aligned-text_center {
  line-height: 130px;
  letter-spacing: 30px;
  text-align: center;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  line-height: 110px;
  letter-spacing: 30px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}

.cover__description-text {
  z-index: 2;
  display: block;
  align-self: center;
  margin-left: 28px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  z-index: 2;
  box-sizing: border-box;
  width: 256px;
  height: 51px;
  border: solid 1px;
  color: white;
  font-family: 'Raleway', Arial, sans-serif; /*альтернативный шрифт*/
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  width: 1052px;
  min-height: 692px; /*не стоит ограничивать высоту*/
  margin-top: 179px;
  margin-right: auto;
  margin-left: auto;
}

.lots__heading {
  margin-left: 40px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.card {
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  width: 334px;
  min-height: 563px; /*не стоит ограничивать высоту*/
  padding-top: 51px; 
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-repeat: no-repeat; /*перенесено в общее*/
  background-position: center; /*перенесено в общее*/
  background-size: 164%; /*перенесено в общее*/
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 3;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-decoration: none; /*убрад нижнее подчеркивания для ссылки*/
}

.card__text {
  position: relative;
  z-index: 3;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 310px 1fr;
  width: 1052px;
  min-height: 595px; /*не стоит ограничивать высоту*/

  margin-top: 146px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
  background-color: black;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 24px;
  font-family: 'Raleway', Arial, sans-serif; /*альтернативный шрифт*/
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text:last-child {
  margin-bottom: 0;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
  min-height: 98px; /*не стоит ограничивать высоту*/
  margin-top: 180px;
  margin-right: auto;
  margin-bottom: 88px; /*добавил нижний отступ*/
  margin-left: auto;;
}

.footer__menu-list {
  text-transform: lowercase;
  list-style: none;
}

.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
